annotated-types
anyio
attrs
boto3
botocore
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
distro
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
jiter
jmespath
kiwisolver
matplotlib
minimalmodbus
numpy
openai
outcome
packaging
pandas
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
pyserial
PySocks
python-dateutil
python-magic
reportlab
requests
s3transfer
scipy
selenium
six
skipy
slack_sdk
sniffio
sortedcontainers
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
uritemplate
urllib3
websocket-client
wsproto
